@font-face {
    font-family: 'Delmon Delicate';
    src: url('https://github.com/shellseaisms/fonts/blob/264372e027cfc7603e49e34bbba7b815c28fa113/delmon%20delicate/DelmonDelicate.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
