@font-face {
    font-family: 'Kaliendric Personal Use';
    src: url('KaliendricPersonalUse-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

